/*@import url('fonts.css');*/
@import url('reset.css');
@import url('variables.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root{
  width: 100%;
}

svg {
  min-width: calc(var(--module) * 6);
  min-height: calc(var(--module) * 6);
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  min-width: calc(var(--module) * 6);
  min-height: calc(var(--module) * 6);
  padding: calc(var(--module) * 2);
  cursor: pointer;
  color: color-mix(in srgb, currentColor 80%, transparent);
  transition: var(--transition);

  &:hover {
    color: currentColor;
  }
}
